body{
    background: #f7f1e3;
}
*{
    font-family: monospace;
}
.main{
    background-color:#3d4543;
    height:450px;
    width:350px;
    border-radius:10px;
    margin: auto;
    margin-top: 120px;
    box-shadow: 2px 2px 20px grey, inset -2px -3px 7px black;
    
}
#keys{
    padding-left: 26px;
}
#numOne {
    width: 79%;
    margin: 30px;
    height: 58px;
    background-color: #bccd95;
    border: solid 3px black;
    box-shadow: inset -2px -3px 7px grey;
    font-size: 32px;
    padding-left: 10px;
    color: rgba(0,0,0,0.8);
}
button {
    width: 58px;
    height: 55px;
    border: none;
    border-radius: 8px;
    margin-left: 14px;
    margin-bottom: 24px;
    cursor: pointer;
    border-top: 2px solid transparent;
    outline: none;
    font-size: 30px;
    color:white;
    background-color:#303030;
    border-bottom:black 2px solid;
    border-top:2px #303030 solid;
}
button:active{
    border-top:black 2px solid;
    border-bottom:#303030 2px solid;
}
button[value="="] {
    color:black;
    background-color:#FF9933;
    border-bottom:black 2px solid;
    border-top:2px #FF9933 solid;
}
button[value="="]:active {
    border-top:black 2px solid;
    border-bottom:#FF9933 2px solid;
}
button[value="+"],button[value="-"],button[value="*"],button[value="/"] {
    color:black;
    background-color:#ff4561;
    border-bottom:black 2px solid;
}
button[value="+"]:active,button[value="-"]:active,button[value="*"]:active,button[value="/"]:active {
    border-top:black 2px solid;
    border-bottom:#ff4561 2px solid;
}
